/* CSS RESET ---------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
    z-index: -3;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET ---------- */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "gotham";
    src: url(./assets/fonts/Gotham-Light.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "gotham";
    src: url(./assets/fonts/Gotham-Bold.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "source-sans-pro";
    src: url(./assets/fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "source-sans-pro";
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "source-sans-pro-italic";
    src: url(./assets/fonts/SourceSansPro-BoldItalic.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "font-awesome";
    src: url(./assets/fonts/fa-regular-400.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "font-awesome";
    src: url(./assets/fonts/fa-solid-900.ttf);
    font-style: solid;
    font-weight: 900;
}

@font-face {
    font-family: "font-awesome";
    src: url(./assets/fonts/fa-brands-400.ttf);
    font-style: normal;
    font-weight: 400;
}

/* something */

h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: gotham;
    font-weight: 100;
    margin: 0 0 20px;
}

h2 {
    font-size: 20px;
    text-transform: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin: 20px 0 20px;
}

h3 {
    font-size: 20px;
    text-transform: none;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
}

.h3-blue {
    color: #314a72;
}

.h1bold {
    font-weight: 700;
}

p {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: #444444;
}

.p-bold {
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    line-height: 1em;
    color: #444444;
}

/*---------------------------------------------------------------------------------------------*/
/* NAV-----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.header1 {
    background-color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}

.logo {
    background: url(./assets/img/il-logo.svg);
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    margin: auto 0;
    flex: none;
}

.container {
    align-content: center;
    display: block;
    cursor: pointer;
    margin: auto 3% auto 0;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    background-color: #444444;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-links {
    display: none;
}

/*---------------------------------------------------------------------------------------------*/
/* NAV DESKTOP SCREEN -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    header {
        height: 130px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin: 0 auto;
        padding: 0;
        z-index: 10000;
        transition: 0.6s;
        padding: 1% 10%;
    }
    
    header.sticky {
        height: 90px;
        padding: 20px 10%;
        background: #fff;
        top: 0;
        box-shadow: 0 6px 9px rgb(0 0 0 / 8%);
    }
    
    header.sticky .logo,
    header.sticky ul li a {
        height: 50px;
        transition: 0.6s;
    }
    
    .logo {
        background: url(./assets/img/il-logo.svg);
        background-repeat: no-repeat;
        width: 238px;
        height: 60px;
        margin: auto 0;
        flex: none;
    }
    
    .container {
        display: none;
    }
    
    .nav-links {
        display: flex;
        margin: auto 0;
    }
    
    /* .nlb {
        height: fit-content;
    }
    
    .nlb-button {
        height: auto;
    } */
    
    .dropdown1 {
        background-color:white;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, .15);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        margin-top: 1rem;
        position: absolute;
        padding: 1rem 0 3rem;
        transform: translateX(-1rem);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
    }
    
    .dropdown2 {
        background-color:white;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, .15);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 450px;
        margin-top: 1rem;
        position: absolute;
        padding: 1rem 0 3rem;
        transform: translateX(-1rem);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(-2rem);
        float: left;
        width: 50%;
        padding-left: 30px;
        height: fit-content;
        line-height: 1.5;
    }
    
    .column-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .dropdown-link {
        padding: .5rem 2rem;
        text-decoration: none;
        color: #848484;
        font-family: 'source-sans-pro';
        font-size: 16px;
        font-weight: bold;
        line-height: 2rem;
    }
    
    .dropdown-link:hover {
        color: #444444;
    }
    
    .nav-link {
        text-decoration: none;
        color: #848484;
        font-size: 13px;
        font-family: gotham;
        font-weight: 600;
        line-height: 1em;
        margin: 2em auto 1em;
        padding: 1rem 1rem;
    }
    
    .nav-link:hover {
        color: #444444;
    }
    
    .nlb:hover > .dropdown1 {
        opacity: 1;
        pointer-events: all;
    }
    
    
    .nlb:hover > .dropdown2 {
        opacity: 1;
        pointer-events: all;
    }
    
    .nav-link-current {
        text-decoration: none;
        color: #9E3E49;
        font-size: 13px;
        font-family: gotham;
        font-weight: 600;
        line-height: 1em;
        margin: 2em auto 1em;
        padding: 1rem 1rem;
    }
    
    .nav-link-button {
        text-decoration: none;
        background-color: #345079;
        color: white;
        font-size: 13px;
        font-family: gotham;
        font-weight: 600;
        line-height: 1em;
        margin: 2em auto 1em;
        padding: 1em 21%;
    }
    
    .nav-icon-interpreting {
        background-image: url(./assets/icons/interpretation-icon-blue.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-interpreting {
        color: #345079;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-translation {
        background-image: url(./assets/icons/translation-icon-red.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-translation {
        color: #9E3E49;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-more {
        background-image: url(./assets/icons/more-services-icon.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-more {
        color: #BCAD96;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-industries {
        background-image: url(./assets/icons/industries.svg);
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-industries {
        color: #444;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-about {
        background-image: url(./assets/icons/il-globe.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-about {
        color: #444;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    }

/*---------------------------------------------------------------------------------------------*/
/* Section 1 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section1 {
    height: 100%;
}

.breadcrumbs {
    display: none;
}

.h1light2 {
    font-weight: 100;
    text-align: center;
    font-size: 25px;
}

.main-img {
    height: 360px;
    width: 70%;
    position: absolute;
    bottom: 94%;
    left: 49%;
    background: url(./assets/img/iphone.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    /* box-shadow: 0px 60px 99px rgba(0, 0, 0, 0.05); */
}

.main-img-translation {
    height: 330px;
    width: 100%;
    background: url(./assets/img/macbook.png);
    background-position: center;
    background-size: 180%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 60px auto;
    box-shadow: 0px 60px 99px rgba(0, 0, 0, 0.05);
}

.sub-header {
    font-size: 14px;
    color: #962626;
}

.main-text {
    height: fit-content;
    width: 90%;
    padding: 2rem 2rem;
    margin: -180px auto 4rem 0;
    background-color: white;
    text-align: left;
}

.green-line1 {
    background: linear-gradient(to right, #8e1c1c, #962626);
    height: 3px;
    width: 160px;
    margin: 0 0 1.5rem 0;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 1 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .section1 {
        height: 900px;
    }

    .breadcrumbs {
        height: 14px;
        width: 300px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        position: relative;
        z-index: 3;
        margin-left: 10%;
        margin-top: 130px;
        margin-bottom: -40px;
    }

    .home-icon {
        height: 100%;
        width: 30px;
        background: url(./assets/icons/Home.svg);
        background-repeat: no-repeat;
        flex-grow: 1;
    }

    .arrow {
        height: 100%;
        width: 12px;
        background: url(./assets/icons/Angle-right.svg);
        background-repeat: no-repeat;
        flex-grow: 1;
    }

    .breadcrumb-link {
        text-decoration: none;
        color: #848484;
        font-family: "source-sans-pro";
        font-size: 14px;
        bottom: 0;
        width: fit-content;
        height: 100%;
        flex-grow: 1;
    }

    .current-page {
        color: #848484;
        font-family: "source-sans-pro";
        font-size: 14px;
        bottom: 0;
        width: fit-content;
        height: 100%;
        line-height: 1rem;
        flex-grow: 1;
    }

    .main-img {
        height: 537px;
        width: 31%;
        top: 4.5%;
        left: 19%;
        background: url(./assets/img/iphone.png);
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 0;
        object-fit: contain;
        margin: 2rem 0 0 0;
        /* box-shadow: 0px 60px 99px rgba(0, 0, 0, 0.05); */
    }

    .main-img-translation {
        height: 605px;
        width: 61%;
        background: url(./assets/img/macbook.png);
        background-position: center;
        background-size: 162%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 0;
        object-fit: contain;
        margin: 70px 0 0 0;
        right: 54%;
        top: 2%;
        box-shadow: 0px 60px 99px rgba(0, 0, 0, 0.05);
    }

    .main-text {
        height: fit-content;
        width: 47%;
        padding: 3rem 6rem 6rem;
        margin: 10% 0;
        left: 48%;
        background-color: transparent;
        text-align: left;
        position: relative;
        z-index: 2;
    }

    .tan-line {
        background: linear-gradient(to right, #c1b39e, #bcad96);
        height: 3px;
        width: 60px;
        margin: 0 auto 1.5rem 0;
    }

    .h1light2 {
        font-weight: 100;
        text-align: center;
        font-size: 36px;
    }

    .h1bold2 {
        font-weight: 700;
        text-align: center;
        font-size: 36px;
        margin: 0 auto;
    }

    .h1 {
        font-weight: 100;
        text-align: center;
        font-size: 25px;
        margin: 0 auto;
    }

    .h1bold {
        font-weight: 700;
        font-size: 35px;
    }
}

/*---------------------------------------------------------------------------------------------*/
/* Section 2----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section2 {
    height: 100%;
}

.fluent-video {
    height: 100%;
    width: 100%;
    padding: 25% 0;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-image: url(./assets/img/fluent-vid.png);
}

/*---------------------------------------------------------------------------------------------*/
/* Section 2 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .section2 {
        height: 900px;
    }

    .fluent-video {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: top;
        background-image: url(./assets/img/fluent-vid.png);
    }
}

/*---------------------------------------------------------------------------------------------*/
/* Section 3----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section3 {
    height: 100%;
}

.main-img1 {
    height: 600px;
    width: 100%;
    background: url(./assets/img/Browser-Template.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    object-fit: contain;
    margin: 0 0 140px 0;
}

.calendar-icon {
    height: 100px;
    width: 50%;
    left: 4%;
    top: 7px;
    border-radius: 20px;
    background: url(./assets/icons/calendar-icon.svg);
    background-position: left;
    background-size: initial;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    object-fit: contain;
    margin: 0 0 10px 0;
}

.main-text1 {
    height: fit-content;
    width: 90%;
    padding: 2rem 2rem;
    margin: -180px auto 4rem 0;
    background-color: transparent;
    text-align: left;
}
.sub-header1 {
    font-size: 14px;
    color: #bcad96;
}
.font {
    font-size: 30px;
    color: #000000bd;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 3 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .section3 {
        height: 900px;
    }

    .main-img1 {
        height: 934px;
        width: 70%;
        left: 29%;
        top: 31%;
        background: url(./assets/img/Browser-Template.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 0;
        object-fit: contain;
        margin: 0 0 80px 0;
    }

    .calendar-icon {
        height: 100px;
        width: 50%;
        left: 4%;
        border-radius: 20px;
        background: url(./assets/icons/calendar-icon.svg);
        background-position: left;
        background-size: initial;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        object-fit: contain;
        margin: 0 0 10px 0;
    }

    .main-text1 {
        height: fit-content;
        width: 30%;
        padding: 2rem 3rem;
        margin: 0 10%;
        background-color: transparent;
        text-align: left;
        position: relative;
    }
    .sub-header1 {
        font-size: 14px;
        color: #bcad96;
    }

    .font {
        font-size: 30px;
        color: #000000bd;
    }
}

/*---------------------------------------------------------------------------------------------*/
/* Section 4----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section4 {
    height: 100%;
}

.main-img2 {
    height: 600px;
    width: 100%;
    background: url(./assets/img/photo1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    object-fit: contain;
    margin: 0 0 140px 0;
}

.main-text2 {
    height: fit-content;
    width: 90%;
    padding: 2rem 2rem;
    margin: 0 0 10px 0;
    background-color: white;
    text-align: left;
    position: relative;
}

.billing-icon {
    height: 100px;
    width: 50%;
    left: 4%;
    border-radius: 20px;
    background: url(./assets/img/billing.png);
    background-position: left;
    background-size: initial;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    object-fit: contain;
    margin: 0 0 10px 0;
}

.sub-header2 {
    font-size: 14px;
    color: #96b4a2;
}
.font {
    font-size: 30px;
    color: #000000bd;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 4 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .section4 {
        height: 900px;
    }

    .main-img2 {
        height: 800px;
        width: 50%;
        background: url(./assets/img/photo1.png);
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 0;
        object-fit: contain;
        left: 7%;
        top: 50%;
    }

    .box {
        height: 85%;
        bottom: 8%;
        width: 40%;
        background-color: #ecebeb;
        position: relative;
        left: 49%;
    }

    .main-text2 {
        height: fit-content;
        width: 30%;
        bottom: 78%;
        left: 55%;
        padding: 4%;
        background-color: transparent;
        text-align: left;
        position: relative;
    }

    .billing-icon {
        height: 100px;
        width: 50%;
        left: 4%;
        border-radius: 20px;
        background: url(./assets/img/billing.png);
        background-position: left;
        background-size: initial;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        object-fit: contain;
        margin: 0 0 10px 0;
    }
}

/*---------------------------------------------------------------------------------------------*/
/* Section 5----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section5 {
    height: 100%;
}

.main-img3 {
    height: 600px;
    width: 100%;
    background: url(./assets/img/Browser-Template2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    object-fit: contain;
    margin: 0 0 140px 0;
}

.analytics-icon {
    height: 100px;
    width: 30%;
    left: 4%;
    border-radius: 20px;
    background: url(./assets/img/analytics.png);
    background-position: left;
    background-size: initial;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    object-fit: contain;
    margin: 0 0 10px 0;
}

.main-text3 {
    height: fit-content;
    width: 90%;
    padding: 2rem 2rem;
    margin: -180px auto 35rem 0;
    background-color: white;
    text-align: left;
}
.sub-header3 {
    font-size: 14px;
    color: #345079;
}
.font {
    font-size: 30px;
    color: #000000bd;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 5 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .section5 {
        height: 900px;
    }

    .main-img3 {
        height: 1000px;
        width: 70%;
        left: 31%;
        top: 64%;
        background: url(./assets/img/Browser-Template2.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 0;
        object-fit: contain;
        margin: 0 0 366px 0;
    }

    .analytics-icon {
        height: 100px;
        width: 50%;
        left: 4%;
        border-radius: 20px;
        background: url(./assets/img/analytics.png);
        background-position: left;
        background-size: initial;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        object-fit: contain;
        margin: 0 0 10px 0;
    }

    .main-text3 {
        height: fit-content;
        width: 30%;
        padding: 2rem 3rem;
        margin: 0 10%;
        background-color: transparent;
        text-align: left;
        position: relative;
    }
    .sub-header3 {
        font-size: 14px;
        color: #345079;
    }

    .font {
        font-size: 30px;
        color: #000000bd;
    }
}

/*---------------------------------------------------------------------------------------------*/
/* Section 6----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section6 {

    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/fluent-banner.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-gradient {

    padding: 8% 8%;
    margin: auto;
    text-align: center;
}

.half-globe {
    margin: 1.5rem auto;
}

.white-line {
    background-color: white;
    height: 3px;
    width: 150px;
    margin: 0 auto 8%;
}

.button-white {
    background-color: white;
    color: #345079;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 22%;
    border: none;
}
.h1bold2 {
    color: white;

}
.p-white {
    color: white;
}

.carousel-bars-footer {
    height: 6px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
}

.blue1-bar {
    height: 6px;
    width: 25%;
    background-color: #345079;
    display: inline-block;
    vertical-align: top;
}

.red-bar {
    height: 6px;
    width: 25%;
    background: linear-gradient(to right, #B2595D, #9E3E49);
    display: inline-block;
    vertical-align: top;
}

.tan-bar {
    height: 6px;
    width: 25%;
    background: linear-gradient(to right, #C1B39E, #BCAD96);
    display: inline-block;
    vertical-align: top;
}

.green-bar {
    height: 6px;
    width: 25%;
    background: linear-gradient(to right, #ACD1BC, #95B8A4);
    display: inline-block;
    vertical-align: top;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 6 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .section6 {
    
        height: 620px;
        width: 100%;
        background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/fluent-banner.png");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .box-gradient {
        padding: 8% 25%;
        margin: auto;
        text-align: center;
    }
    
    .half-globe {
        margin: 1.5rem auto;
    }
    
    .white-line {
        background-color: white;
        height: 3px;
        width: 50px;
        margin: 0 auto 4%;
    }
    
    .button-white {
        background-color: white;
        color: #345079;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 2rem 0;
        padding: 1em 0;
        border: none;
        width: 180px;
    }
    
    .carousel-bars-footer {
        height: 6px;
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
    }

    .blue1-bar {
        height: 6px;
        width: 25%;
        background-color: #345079;
        display: inline-block;
        vertical-align: top;
    }

    .red-bar {
        height: 6px;
        width: 25%;
        background: linear-gradient(to right, #B2595D, #9E3E49);
        display: inline-block;
        vertical-align: top;
    }

    .tan-bar {
        height: 6px;
        width: 25%;
        background: linear-gradient(to right, #C1B39E, #BCAD96);
        display: inline-block;
        vertical-align: top;
    }

    .green-bar {
        height: 6px;
        width: 25%;
        background: linear-gradient(to right, #ACD1BC, #95B8A4);
        display: inline-block;
        vertical-align: top;
    }
    
    }

/*---------------------------------------------------------------------------------------------*/
/* FOOTER ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.footer-bg {
    background-color: #f7f7f8;
    width: 100%;
    height: fit-content;
}

.footer {
    height: fit-content;
    width: 100%;
    background-color: #f7f7f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contact-info {
    background-color: white;
    padding: 40px 0;
    position: relative;
    z-index: 0;
}

.social-container {
    background-color: white;
    margin-top: -60px;
    padding-bottom: 60px;
}

.social-icons {
    margin-top: 4em;
}

.grey-footer {
    background-color: #f7f7f8;
}

.footer-logo {
    margin: 3em 0;
}

.footer-nav-links {
    display: none;
}

.titles-black-footer {
    color: #444444;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

/*---------------------------------------------------------------------------------------------*/
/* FOOTER DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .footer-bg {
        background-color: white;
        width: 100%;
        height: 225px;
    }

    .footer {
        height: fit-content;
        width: 90%;
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
    }

    .contact-info {
        background-color: white;
        padding: 40px 0;
        position: relative;
        z-index: 0;
    }

    .social-container {
        background-color: white;
        margin-left: -5%;
        margin-top: 0;
    }

    .social-icons {
        margin-top: 4em;
    }

    .grey-footer {
        background-color: white;
    }

    .footer-logo {
        margin: 3em 0;
    }

    .titles-black-footer {
        color: #444444;
        font-size: 1rem;
        font-weight: 700;
        text-align: right;
    }

    .footer-nav-links {
        display: flex;
        flex-direction: row;
        margin: auto auto;
        justify-content: space-between;
        width: 40%;
    }

    .footer-nav-link {
        text-decoration: none;
        color: #444444;
        font-size: 13px;
        font-family: "gotham";
        font-weight: 600;
        line-height: 1em;
        margin: 2em auto 1em;
        padding: 1em 0;
    }
}
