/* CSS RESET ---------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET ---------- */





* {
    box-sizing: border-box;
}




@font-face {
    font-family: 'gotham';
    src: url(./assets/fonts/Gotham-Light.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'gotham';
    src: url(./assets/fonts/Gotham-Bold.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(./assets/fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

/* something */

h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: gotham;
    font-weight: 100;
    margin: 0 0 20px;
}

h2 {
    font-size: 20px;
    text-transform: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 20px 0 20px;
}

h3 {
    font-size: 20px;
    text-transform: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
}

.h3-blue {
    color: #314A72;
}

.h1bold {
    font-weight: 700;
}

p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: #444444
}

.p-bold {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1em;
    color: #444444
}

/*---------------------------------------------------------------------------------------------*/
/* NAV-----------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


.header1 {
    background-color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}
.logo {
    background: url(./assets/img/il-logo.svg);
    background-repeat: no-repeat;
    width: 238px;
    height: 50px;
    margin: auto 0 auto 2%;
}

.container {
    align-content: center;
    display: block;
    cursor: pointer;
    margin: auto 3% auto 0;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #444444;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .nav-links {
      display: none;
  }


/*---------------------------------------------------------------------------------------------*/
/* NAV DESKTOP SCREEN -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .header1 {
        height: 130px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        position: absolute;
    }
    
    .logo {
        background: url(./assets/img/il-logo.svg);
        background-repeat: no-repeat;
        width: 238px;
        height: 60px;
        margin: auto 0 auto 9%;
    }
    
    .container {
        display: none;
      }
    
    .nav-links {
        display: flex;
        margin: auto 11% auto 0;
        justify-content: space-between;
        width: 600px;
    }
    
    .nlb {
        height: fit-content;
    }
    
    .nlb-button {
    
    }
    
    .dropdown1 {
        background-color:white;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, .15);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        margin-top: 1rem;
        position: absolute;
        padding: 1rem 0 3rem;
        transform: translateX(-1rem);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
    }
    
    .dropdown2 {
        background-color:white;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, .15);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 450px;
        margin-top: 1rem;
        position: absolute;
        padding: 1rem 0 3rem;
        transform: translateX(-1rem);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(-2rem);
        float: left;
        width: 50%;
        padding-left: 30px;
        height: fit-content;
        line-height: 1.5;
    }
    
    .column-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .dropdown-link {
        padding: .5rem 2rem;
        text-decoration: none;
        color: #848484;
        font-family: 'source-sans-pro';
        font-size: 16px;
        font-weight: bold;
        line-height: 2rem;
    }
    
    .dropdown-link:hover {
        color: #444444;
    }
    
    .nav-link {
        text-decoration: none;
        color: #848484;
        font-size: 13px;
        font-family: gotham;
        font-weight: 600;
        line-height: 1em;
        margin: 2em auto 1em;
        padding: 1rem 1rem;
    }
    
    .nav-link:hover {
        color: #444444;
    }
    
    .nlb:hover > .dropdown1 {
        opacity: 1;
        pointer-events: all;
    }
    
    
    .nlb:hover > .dropdown2 {
        opacity: 1;
        pointer-events: all;
    }
    
    .nav-link-current {
        text-decoration: none;
        color: #9E3E49;
        font-size: 13px;
        font-family: gotham;
        font-weight: 600;
        line-height: 1em;
        margin: 2em auto 1em;
        padding: 1rem 1rem;
    }
    
    .nav-link-button {
        text-decoration: none;
        background-color: #345079;
        color: white;
        font-size: 13px;
        font-family: gotham;
        font-weight: 600;
        line-height: 1em;
        margin: 2em auto 1em;
        padding: 1em 21%;
    }
    
    .nav-icon-interpreting {
        background-image: url(./assets/icons/interpretation-icon-blue.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-interpreting {
        color: #345079;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-translation {
        background-image: url(./assets/icons/translation-icon-red.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-translation {
        color: #9E3E49;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-more {
        background-image: url(./assets/icons/more-services-icon.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-more {
        color: #BCAD96;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-industries {
        background-image: url(./assets/icons/industries.svg);
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-industries {
        color: #444;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    .nav-icon-about {
        background-image: url(./assets/icons/il-globe.svg);
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2rem 2rem 1.5rem;
    }
    
    .nav-title-about {
        color: #444;
        font-family: 'source-sans-pro';
        font-size: 18px;
        font-weight: bold;
        line-height: 3rem;
        margin-left: 2rem;
    }
    
    }

/*---------------------------------------------------------------------------------------------*/
/* Section 1 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section1 {
    height: fit-content;
    width: 100%;
}

.breadcrumbs {
    display: none;
}

@media screen and (min-width: 1024px) {

    .breadcrumbs {
        height: 14px;
        width: 300px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        position: relative;
        z-index: 3;
        margin-left: 10.5%;
        margin-top: 130px;
        margin-bottom: -40px;
    }
    
    .home-icon {
        height: 100%;
        width: 30px;
        background: url(./assets/icons/Home.svg);
        background-repeat: no-repeat;
        flex-grow: 1;
    }
    
    .arrow {
        height: 100%;
        width: 12px;
        background: url(./assets/icons/Angle-right.svg);
        background-repeat: no-repeat;
        flex-grow: 1;
    }
    
    .breadcrumb-link {
        text-decoration: none;
        color: #848484;
        font-family: 'source-sans-pro';
        font-size: 14px;
        bottom: 0;
        width: fit-content;
        height: 100%;
        flex-grow: 1;
    }
    
    .current-page {
        color: #848484;
        font-family: 'source-sans-pro';
        font-size: 14px;
        bottom: 0;
        width: fit-content;
        height: 100%;
        line-height: 1rem;
        flex-grow: 1;
    }

}

.main-img {
    height: 600px;
    width: 50%;
    background: url(./assets/img/education-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.sub-header {
    font-size: 14px;
    color: #BCAD96;
}

.main-text {
    height: fit-content;
    width: 40%;
    padding: 4rem 4rem 6rem 4rem;
    margin: -400px 0 200px 10%;
    background-color: white;
    text-align: left;
}


.tan-line {
    background: linear-gradient(to right, #C1B39E, #BCAD96);
    height: 3px;
    width: 60px;
    margin: 0 0 1.5rem 0;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 1 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {

    .main-img {
        height: 300px;
        width: 100%;
        background: url(./assets/img/education@2x.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }

    .main-text {
        height: fit-content;
        width: 90%;
        padding: 2rem 10% 3rem;
        margin: -70px auto 6rem 0;
        background-color: white;
        text-align: left;
        position: relative;
        z-index: 2;
    }

    .tan-line {
        background: linear-gradient(to right, #C1B39E, #BCAD96);
        height: 3px;
        width: 60px;
        margin: 0 auto 1.5rem 0;
    }

    .h1bold2 {
        font-weight: 700;
        text-align: center;
        font-size: 25px;
        margin: 0 auto;
    }


    .h1bold {
        font-weight: 700;
        font-size: 25px;
    }

}

/*---------------------------------------------------------------------------------------------*/
/* Section 2 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section2 {
    background-color: #F7F7F8;
    height: fit-content;
    width: 100%;
    padding: 6rem 0;
    margin-top: -160px;
    text-align: center;
}

.red-line {
    background: linear-gradient(to right, #B2595D, #9E3E49);
    height: 3px;
    width: 60px;
    margin: 0 auto 3rem;
}

.grid-container {
    width: 80%;
    margin: 0 auto 1rem;
}

.services-grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 40px;
}

.services-card {
    display: flex;
    flex-direction: column;
    width: 1fr;
    height: fit-content;
    justify-content: space-around;
    text-align: center;
}

.button-red {
    background-image: linear-gradient(to right, #B2595D, #9E3E49);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 210px;
    border: none;
    margin-bottom: 0;
    align-self: flex-start;
}

.button-tan {
    background-image: linear-gradient(to right, #C1B39E, #BCAD96);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 210px;
    border: none;
    margin-bottom: 0;
}

.button-green {
    background-image: linear-gradient(to right, #ACD1BC, #95B8A4);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 210px;
    border: none;
    margin-bottom: 0;
}

.img-healthcare {
    background: url(./assets/icons/1.svg) no-repeat center center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: auto;
}

.img-legal {
    background: url(./assets/icons/2.svg) no-repeat center center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: auto;
}

.img-education {
    background: url(./assets/icons/3.svg) no-repeat center center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: auto;
}

.img-government {
    background: url(./assets/icons/4.svg) no-repeat center center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: auto;
}

.img-insurance {
    background: url(./assets/icons/5.svg) no-repeat center center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: auto;
}

.img-finance {
    background: url(./assets/icons/6.svg) no-repeat center center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: auto;
}


/*---------------------------------------------------------------------------------------------*/
/* Section 3 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/




.section3 {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/healthcare-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.box-gradient-green {
    height: fit-content;
    padding: 13% 5%;
    margin: auto;
    text-align: center;
}

.half-globe {
    margin: 1.5rem auto;
}

.white-line {
    background-color: white;
    height: 3px;
    width: 50px;
    margin: 0 auto 4%;
}

.button-white {
    background-color: white;
    color: #345079;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    border: none;
    width: 180px;
}

.carousel-bars-footer {
    height: 6px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.titles-white {
    color: white;
}

.p-white {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}


/*---------------------------------------------------------------------------------------------*/
/* Section 3 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

.h1bold {
    font-weight: 700;
    font-size: 48px;
}

.box-gradient-green {
    height: fit-content;
    padding: 8rem 25%;
    margin: auto;
    text-align: center;
}

}

/*---------------------------------------------------------------------------------------------*/
/* Section 4 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section4 {
    background-color: white;
    height: fit-content;
    width: 100%;
    padding: 6rem 0 1rem;
    text-align: center;
}

.green-line {
    background: linear-gradient(to right, #ACD1BC, #95B8A4);
    height: 3px;
    width: 60px;
    margin: 0 auto 5rem;
}

.green-check {
    background: url(./assets/icons/green-check.svg) no-repeat center center;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: auto;
}

.services-grid2 {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 30px;
}

.services-card2 {
    display: flex;
    flex-direction: column;
    width: 1fr;
    height: fit-content;
    justify-content: space-around;
    text-align: center;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 4 DESKTOP ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .section4 {
        background-color: white;
        height: fit-content;
        width: 100%;
        padding: 8rem 0 1rem;
        text-align: center;
    }

    .services-grid2 {
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 120px;
    }
    }

/*---------------------------------------------------------------------------------------------*/
/* Section 5 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

.section5 {
    background-color: white;
    height: fit-content;
    width: 100%;
    padding: 5rem 0 0 3rem;
    text-align: center;
}

.blue-line {
    background: linear-gradient(to right, #4B6893, #345079);
    height: 3px;
    width: 60px;
    margin: 0 auto 3rem;
}

.grid-container2 {
    width: 90%;
    margin: 0 auto 6rem;
}

.customer-grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 40px;
}

.customer-card {
    display: flex;
    flex-direction: row;
    width: 1fr;
    height: fit-content;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}


.customer-logo1 {
    background: url(./assets/img/childrens-logo@2x.png) no-repeat center center;
    width: 100%;
    height: 100px;
    object-fit: contain;

}

.customer-logo2 {
    background: url(./assets/img/magellan-logo@2x.png) no-repeat center center;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.customer-logo3 {
    background: url(./assets/img/aurora-logo@2x.png) no-repeat center center;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.customer-logo4 {
    background: url(./assets/img/marquette-logo@2x.png) no-repeat center center;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 5 DESKTOP ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

    .section5 {
        background-color: white;
        height: fit-content;
        width: 100%;
        padding: 5rem 0 0 2rem;
        text-align: center;
    }

    .customer-grid {
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 80px;
    }

    .customer-logo1 {
        background: url(./assets/img/childrens-logo@2x.png) no-repeat center center;
        width: 100%;
        height: 200px;
        object-fit: contain;
    
    }
    
    .customer-logo2 {
        background: url(./assets/img/magellan-logo@2x.png) no-repeat center center;
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    
    .customer-logo3 {
        background: url(./assets/img/aurora-logo@2x.png) no-repeat center center;
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    
    .customer-logo4 {
        background: url(./assets/img/marquette-logo@2x.png) no-repeat center center;
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    
.blue-line {
    background: linear-gradient(to right, #4B6893, #345079);
    height: 3px;
    width: 60px;
    margin: 0 auto 1rem;
}

    }

/*---------------------------------------------------------------------------------------------*/
/* Section 6 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/




.section6 {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/healthcare-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-gradient {
    height: 700px;
    padding: 2rem 4rem;
    margin: auto auto;
    text-align: center;
}



.half-globe {
    margin: 1.5rem auto;
}

.white-line {
    background-color: white;
    height: 3px;
    width: 50px;
    margin: 0 auto 4%;
}

.button-white {
    background-color: white;
    color: #345079;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    border: none;
    width: 180px;
}

.carousel-bars-footer {
    height: 6px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.titles-white {
    color: white;
}

.p-white {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/*---------------------------------------------------------------------------------------------*/
/* Section 6 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {
    .titles-white {
        color: white;
        font-size: 25px;
    }
    .box-gradient {
        height: fit-content;
        padding: 0;
        margin: 4rem 20%;
        text-align: center;
    }

}

/*---------------------------------------------------------------------------------------------*/
/* FOOTER ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/



.footer-bg {
    background-color: #F7F7F8;
    width: 100%;
    height: fit-content;
}

.footer {
    height: fit-content;
    width: 100%;
    background-color: #F7F7F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: -187px auto 0;
}

.contact-info {
    background-color: white;
    padding: 40px 0;
    position: relative;
    z-index: 0;
}

.social-container {
    background-color: white;
    margin-top: -60px;
    padding-bottom: 60px;
}

.social-icons {
    margin-top: 4em;
}

.grey-footer {
    background-color: #F7F7F8;
}

.footer-logo {
    margin: 3em 0;
}

.footer-nav-links {
    display: none;
}

.titles-black-footer {
    color: #444444;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

/*---------------------------------------------------------------------------------------------*/
/* FOOTER DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.footer-bg {
    background-color: #F7F7F8;
    width: 100%;
    height: 225px;
}

.footer {
    height: fit-content;
    width: 90%;
    background-color: #F7F7F8;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.contact-info {
    background-color: #F7F7F8;
    padding: 40px 0;
    position: relative;
    z-index: 0;
}

.social-container {
    background-color: #F7F7F8;
    margin-left:-5%;
    margin-top: 0;
}

.social-icons {
    margin-top: 4em;
}

.grey-footer {
    background-color: #F7F7F8;
}

.footer-logo {
    margin: 3em 0;
}

.titles-black-footer {
    color: #444444;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

.footer-nav-links {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    justify-content: space-between;
    width: 40%;
}

.footer-nav-link {
    text-decoration: none;
    color: #444444;
    font-size: 13px;
    font-family: gotham;
    font-weight: 600;
    line-height: 1em;
    margin: 2em auto 1em;
    padding: 1em 0;
}

}






/*---------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*//*---------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*//*---------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*//*---------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*//*---------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*//*---------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
/*-------DIFFERENT SUB-INDUSTRIES PAGES IMAGES--------------------------------------------------------------------------------------*/


/*-------LEGAL--------------------------------------------------------------------------------------*/

.main-img2 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/legal-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3b {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/legal-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6b {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/education-footer-img.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img {
        height: 300px;
        width: 100%;
        background: url(./assets/img/legal-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}





/*------HEALTHCARE--------------------------------------------------------------------------------------*/

.main-img1 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/healthcare-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3a {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/healthcare-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6a {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/healthcare-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img1 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/legal-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}



/*------GOVERNMENT--------------------------------------------------------------------------------------*/

.main-img4 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/government-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3d {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/government-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6d {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/government-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img4 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/government-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}




/*------INSURANCE--------------------------------------------------------------------------------------*/

.main-img5 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/insurance-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3e {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/insurance-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6e {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/insurance-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img5 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/insurance-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}





/*------FINANCE--------------------------------------------------------------------------------------*/

.main-img6 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/finance-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3f {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/finance-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6f {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/finance-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img6 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/finance-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}








/*------MANUFACTURING--------------------------------------------------------------------------------------*/

.main-img7 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/manufacturing-3.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3g {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/manufacturing-main.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6g {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/manufacturing-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img7 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/manufacturing-3.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}







/*------MARKETING --------------------------------------------------------------------------------------*/

.main-img8 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/healthcare-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3h {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/legal-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6h {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/education-footer-img.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img8 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/legal-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}




/*------SOFTWARE & TECHNOLOGY--------------------------------------------------------------------------------------*/

.main-img9 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/software-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3i {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/software-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6i {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/software-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img9 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/software-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}





/*------TRAVEL --------------------------------------------------------------------------------------*/

.main-img10 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/travel-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3j {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/travel-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6j {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/travel-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img10 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/travel-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}






/*------MEDIA--------------------------------------------------------------------------------------*/

.main-img11 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/media-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3k {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/media-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6k {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/media-3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img11 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/media-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}





/*------ECOMMERCE--------------------------------------------------------------------------------------*/

.main-img12 {
    height: 600px;
    width: 50%;
    background: url(./assets/img/ecommerce-main.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    object-fit: cover;
    margin: 0 0 0 40%;
    margin-top: 0;
}

.section3l {

    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgba(149, 183, 164, .90), rgba(52, 80, 121, .84)), url("./assets/img/ecommerce-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.section6l {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/ecommerce-2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (max-width: 1024px) {

    .main-img12 {
        height: 300px;
        width: 100%;
        background: url(./assets/img/ecommerce-main.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        z-index: -1;
        object-fit: cover;
        margin: 0 auto;
    }
}