/* CSS RESET ---------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/* END CSS RESET ---------- */








    
    @font-face {
    font-family: 'gotham';
    src: url(./assets/fonts/Gotham-Light.otf);
    font-style: normal;
    font-weight: 100;
    }

    @font-face {
    font-family: 'gotham';
    src: url(./assets/fonts/Gotham-Bold.otf);
    font-style: normal;
    font-weight: 700;
    }

    @font-face {
    font-family: 'source-sans-pro';
    src: url(./assets/fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    }

    @font-face {
    font-family: 'source-sans-pro';
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
    font-style: normal;
    font-weight: 700;
    }


h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: gotham;
    font-weight: 100;
    margin: 0 0 20px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: gotham;
    font-weight: 200;
    margin: 0 0 20px;
}

h3 {
    font-size: 20px;
    text-transform: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
}

.h3-blue {
    color: #314A72;
}

.h1bold {
    font-weight: 700;
}

p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: #444444
}

.p-bold {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1em;
    color: #444444
}



/* NAV -------------------------------------*/


.header1 {
    background-color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}
.logo {
    background: url(./assets/img/il-logo.svg);
    background-repeat: no-repeat;
    width: 238px;
    height: 50px;
    margin: auto 0 auto 2%;
}

.container {
    align-content: center;
    display: block;
    cursor: pointer;
    margin: auto 3% auto 0;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #444444;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .nav-links {
      display: none;
  }


/* NAV DESKTOP SCREEN -------------------------------------*/

@media screen and (min-width: 1024px) {

.header-wrapper {
    margin: 0 auto;
    position: relative;
    width: 80%;
    max-width: 1440px;
}

.header1 {
    height: 130px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 0 auto;
}

.logo {
    background: url(./assets/icons/white-logo.svg);
    background-repeat: no-repeat;
    width: 238px;
    height: 60px;
    margin: auto 0;
}

.container {
    display: none;
  }

.nav-links {
    display: flex;
    margin: auto 0;
}

.nlb {

}

.nlb-button {

}

.dropdown1 {
    background-color:white;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin-top: 1rem;
    position: absolute;
    padding: 1rem 0 3rem;
    transform: translateX(-1rem);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.dropdown2 {
    background-color:white;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    margin-top: 1rem;
    position: absolute;
    padding: 1rem 0 3rem;
    transform: translateX(-1rem);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-2rem);
    float: left;
    width: 50%;
    padding-left: 30px;
    height: fit-content;
    line-height: 1.5;
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-link {
    padding: .5rem 2rem;
    text-decoration: none;
    color: #848484;
    font-family: 'source-sans-pro';
    font-size: 16px;
    font-weight: bold;
    line-height: 2rem;
}

.dropdown-link:hover {
    color: #444444;
}

.nlb:hover > .dropdown1 {
    opacity: 1;
    pointer-events: all;
}


.nlb:hover > .dropdown2 {
    opacity: 1;
    pointer-events: all;
}

.nav-link:hover {
    color: #f7f7f8;
}

.nav-icon-interpreting {
    background-image: url(./assets/icons/interpretation-icon-blue.svg);
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem 2rem 1.5rem;
}

.nav-title-interpreting {
    color: #345079;
    font-family: 'source-sans-pro';
    font-size: 18px;
    font-weight: bold;
    line-height: 3rem;
    margin-left: 2rem;
}

.nav-icon-translation {
    background-image: url(./assets/icons/translation-icon-red.svg);
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem 2rem 1.5rem;
}

.nav-title-translation {
    color: #9E3E49;
    font-family: 'source-sans-pro';
    font-size: 18px;
    font-weight: bold;
    line-height: 3rem;
    margin-left: 2rem;
}

.nav-icon-more {
    background-image: url(./assets/icons/more-services-icon.svg);
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem 2rem 1.5rem;
}

.nav-title-more {
    color: #BCAD96;
    font-family: 'source-sans-pro';
    font-size: 18px;
    font-weight: bold;
    line-height: 3rem;
    margin-left: 2rem;
}

.nav-icon-industries {
    background-image: url(./assets/icons/industries.svg);
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem 2rem 1.5rem;
}

.nav-title-industries {
    color: #444;
    font-family: 'source-sans-pro';
    font-size: 18px;
    font-weight: bold;
    line-height: 3rem;
    margin-left: 2rem;
}

.nav-icon-about {
    background-image: url(./assets/icons/il-globe.svg);
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem 2rem 1.5rem;
}

.nav-title-about {
    color: #444;
    font-family: 'source-sans-pro';
    font-size: 18px;
    font-weight: bold;
    line-height: 3rem;
    margin-left: 2rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: gotham;
    font-weight: 600;
    line-height: 1em;
    margin: 2em auto 1em;
    padding: 1rem 1rem;
}

.nav-link-button {
    text-decoration: none;
    background-color: white;
    color: #345079;
    font-size: 13px;
    font-family: gotham;
    font-weight: 600;
    line-height: 1em;
    margin-left: 1rem;
    padding: 1em 1rem;
}

}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 1----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/



.section1 {

    width: 100%;
    background-color: #345079;
    padding-top: 130px;
}

.splash {
    height: 150px;
    width: 100%;
    background: url(./assets/img/Video@2x.png);
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    box-shadow: 0px 60px 99px rgba(0, 0, 0, .25);
    object-fit: cover;
}

.box-buttons-wrapper {
    margin-top: -8rem;
}

.box1 {
    background: linear-gradient(#314A72 10%, rgba(49, 74, 114, 0) 100%);
    margin: 0 12% 0 0;
    padding: 8% 8%;
}

.titles-white {
    color: white;
}

.titles-bold {
    font-weight: 700;
    line-height: 1.25em;
}


.titles-black {
    color: #444444;
}

#titles-red {
    color: #444444;
    text-transform: none;
}

#titles-tan {
    color: #444444;
    text-transform: none;
}

#titles-white {
    color: #fff;
    text-transform: none;
}

.p-white {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    hyphens: auto;
}

.p-white-u {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    hyphens: auto;
    text-decoration: underline;
}

.mobile-buttons-sec1 {
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.button-outline {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto 1em;
    padding: 1em 0;
    width: 80%;
}

.button-outline-red {
    background-color: #F7F7F8;
    color: #9E3E49;
    border: 2px solid #9E3E49;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem auto 0;
    padding: 1em 3rem;
    text-decoration: none;
    position: absolute;
}

.button-outline-tan {
    background-color: white;
    color: #BCAD96;
    border: 2px solid #BCAD96;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem auto 0;
    padding: 1em 3rem;
    text-decoration: none;
    position: absolute;
    text-align: center;
}

.button-green {
    background-image: linear-gradient(to right, #ACD1BC, #95B8A4);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 5% 5%;
    padding: 1em 0;
    border: 2px solid #ACD1BC;
    width: 80%;
}

.button-blue {
    background-image: linear-gradient(to right, #4B6893, #345079);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: -15% auto 5%;
    padding: 4% 0;
    width: 80%;
    border: none;
    justify-content: center;
}

.carousel-bars {
    height: 12px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.blue-bar {
    height: 12px;
    width: 25%;
    background-color: #314A72;
    display: inline-block;
    margin: 0 0 50%;
}

.blue1-bar {
    height: 6px;
    width: 25%;
    background-color: #345079;
    display: inline-block;
    margin: 0 0 50%;
}

.red-bar {
    height: 6px;
    width: 25%;
    background: linear-gradient(to right, #B2595D, #9E3E49);
    display: inline-block;
    margin: 0 0 50%;
    vertical-align: top;
}

.tan-bar {
    height: 6px;
    width: 25%;
    background: linear-gradient(to right, #C1B39E, #BCAD96);
    display: inline-block;
    margin: 0 0 50%;
    vertical-align: top;
}

.green-bar {
    height: 6px;
    width: 25%;
    background: linear-gradient(to right, #ACD1BC, #95B8A4);
    display: inline-block;
    margin: 0 0 50%;
    vertical-align: top;
}

.carousel-dots {
position: absolute;
justify-content: space-evenly;
}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 1 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

    .section1 {
        width: 100%;
        background-color: #345079;
    }

    .content-wrapper {
        width: 80%;
        max-width: 1440px;
        margin: auto;
    }

    .box1 {
        background: linear-gradient(#314A72 40%, rgba(49, 74, 114, 0) 90%) ;
        width: 50%;
        max-width: 800px;
        padding: 50px 50px 70px 50px;
        position: relative;
        z-index: 2;
    }

    .splash {
        height: 460px;
        width: 100%;
        margin: 0 auto;
        background: url(./assets/img/Video@2x.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        box-shadow: 0px 60px 99px rgba(0, 0, 0, .25);
        position: relative;
    }

    .mobile-buttons-sec1 {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        width: 50%;
        justify-content: right;
        float: right;
        margin-top: -160px;
    }

    .button-outline {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 700;
        height: 48px;
        width: 215px;
        margin: 0 15px 0 0;
        padding: 0;
    }

    .button-green {
        background-image: linear-gradient(to right, #ACD1BC, #95B8A4);
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 700;
        height: 48px;
        width: 215px;
        margin: 0 0 0 15px;
        padding: 0;
        border: 2px solid #ACD1BC;
    }

    .carousel-dots {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        bottom: 20px;
        right: 30px;
        position: absolute;
        z-index: 2;
        }

    .button-outline-tan {
        color: #BCAD96;
        border: 2px solid #BCAD96;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 3em auto 0;
        padding: 1em 0;
        width: 210px;
    }
}
/*---------------------------------------------------------------------------------------------*/
/* SECTION 2 ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


    .section2 {

        width: 100%;
        background-color: white;
    }

    .section2-title {
        margin: 50px 0 0 0;
        padding: 0 8%;
    }

    .red-line {
        background-image: linear-gradient(to right, #B2595D, #9E3E49);
        height: 3px;
        width: 150px;
        margin: 0 8% 8%;
    }

    .interpretation-image {
        background: url(./assets/img/interpreting-image.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 85%;
        height: 224px;
        position: relative;
        z-index: 1;
    }

    .grey-box {
        background-color: #F7F7F8;
        padding: 80px 8% 12%;
        margin: -30px 7% 8%;
        position: relative;
        z-index: 1;
    }

    .icon {
        margin: 10px 0 30px 0;
    }

    .h6-red {
        font-size: 14px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        line-height: 1em;
        color: #9E3E49;
        margin-bottom: 1.5em;
    }

    .h6-tan {
        font-size: 14px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        line-height: 1em;
        color: #BCAD96;
        margin-bottom: 1.5em;
    }

    .h6-white {
        font-size: 14px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        line-height: 1em;
        color: #fff;
        margin-bottom: 1.5em;
    }

    .translation-image {
        background: url(./assets/img/pexels_photo_840996.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 224px;
        margin-left: 10%;
        margin-top: 45px;
        position: relative;
        z-index: 2;
    }

    .white-box {
        background-color: white;
        padding: 80px 8% 8%;
        margin: -30px 0 8% 8%;
        position: relative;
        z-index: 1;
    }

    .more-services-box {
        background-image: linear-gradient(to right, #ACD1BC, #95B8A4);
        padding: 16% 10%;
    }

    .button-outline2 {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 3em auto 0;
        padding: 1em 3rem;
        height: 48px;
        text-decoration: none;
        display: inline-block;
    }

/*---------------------------------------------------------------------------------------------*/
/* SECTION 2 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.page-wrapper {
    width: 80%;
    max-width: 1440px;
    border: 1px solid red;
    margin: auto;
}

.section2 {
    width: 100%;
}

.section2-title {
    margin: 100px 0 0 0;
    padding: 0;
}


.titles-black {
    color: #444444;
    font-size: 32px;
}

.h1bold {
    font-weight: 700;
}

.red-line {
    background-image: linear-gradient(to right, #B2595D, #9E3E49);
    height: 3px;
    width: 150px;
    margin: 0 8% 3em 0;
}

.interpretation-image {
    background: url(./assets/img/interpreting-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    height: 450px;
    position: relative;
    z-index: 2;

}

.grey-box {
    background-color: #F7F7F8;
    padding: 135px 8% 12rem 12%;
    margin: -630px 0 8% 50%;
    position: relative;
    z-index: 1;
    width: 50%;

}

.icon {
    margin: 10px 0 30px 0;
}

.h6-red {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1em;
    color: #9E3E49;
    margin-bottom: 1.5em;
}

.h6-tan {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1em;
    color: #BCAD96;
    margin-bottom: 1.5em;
}

.h6-white {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    margin-bottom: 1.5em;
}

.translation-image {
    background: url(./assets/img/pexels_photo_840996.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    height: 450px;
    margin-left: 45%;
    position: relative;
    z-index: 2;
}

.white-box {
    background-color: white;
    padding: 80px 8% 8%;
    margin: -525px 0 12rem 0;
    position: relative;
    z-index: 1;
    width: 40%;

}

.more-services-box {
    background-image: linear-gradient(to right, #ACD1BC, #95B8A4);
    padding: 5em 6em;
    width: 60%;
    margin: -6% 0 0 0;
    position: relative;
    z-index: 2;
}

.button-outline2 {
    color: white;
    border: 2px solid white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 1em 3rem;
    height: 48px;
    text-decoration: none;
    display: inline-block;
}

}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 3----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/



.section3 {

    width: 100%;
    background-color: #F7F7F8;
    padding: 0px 0px 2rem;
    position: relative;
    z-index: -1;
}

.text-box {
    padding: 60px 8%;
    text-align: center;
}

.mobile-buttons-sec3 {
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px auto;
}

.fluent-mockup {
    width: 100%;
}

.icon-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 300px;
    align-content: center;
}

.icon-text {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.p-bold-grid {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 3em;
    color: #444444
}


/*---------------------------------------------------------------------------------------------*/
/* SECTION 3 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.page-wrapper-grey {
    width: 100%;

    background-color:  #f7f7f8;
    margin: -6rem auto 0;
    border: 1px solid red;
}

.section3 {
    width: 80%;
    max-width: 1440px;
    background-color: #f7f7f8;
    padding: 5rem 0 12rem;
    margin: auto;
    position: relative;
    z-index: 0;
    border: 1px solid red;
}

.text-box {
    padding: 120px 8% 80px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.mobile-buttons-sec3 {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    height: 46px;
    width: 90%;
    justify-content: right;
    margin: -120px 0 0;
}

.button-blue {
    background-image: linear-gradient(to right, #4B6893, #345079);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 30rem 65% 0 15%;
    padding: 1em 0;
    width: 200px;
    height: 48px;
}


.fluent-mockup {
    width: 80%;
    margin: 0 0 0 33%;
}

.icon-grid {
    width: 35%;
    flex-direction: row;
    height: 300px;
    align-content: center;
    margin: -43% 0 0 5%;
}

.icon-text {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.p-bold-grid {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 3em;
    color: #444444
}

}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 4----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


.section4 {

    width: 100%;
    background-color: white;
}

.section4a {
    margin: 3rem 0 0;

}

.container2 {
    align-content: center;
    display: block;
    margin: -7% 7% -1rem;
  }

.greybar1 {
    width: 30vw;
    height: 3px;
    background-color: #EDEDEF;
    margin: 10px 0;
  }

  .greybar2 {
    width: 35vw;
    height: 3px;
    background-color: #EDEDEF;
    margin: 10px 0;
  }

  .greybar3 {
    width: 25vw;
    height: 3px;
    background-color: #EDEDEF;
    margin: 10px 0;
  }

  .redbox {
    background-image:linear-gradient(to right, #B2595D, #9E3E49);

    margin: 35px 7%;
    padding: 16% 8%;
}

.mobile-buttons-sec4 {
    text-align: left;
    width: 240px;
    margin: 3rem 0 0 0;
}

.button-outline3 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 0 0;
    padding: 1rem 2rem;
    width: 240px;
    height: 48px;
    text-decoration: none;
}


/*---------------------------------------------------------------------------------------------*/
/* SECTION 4 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.section4 {
    width: 100%;
    padding-top: 6rem;
}

.section4a {
    margin: -25rem 0 0 40%;
    width: 60%;
}

.image-industries {
    background-image: url(./assets/img/industries-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px red solid;
    width: 100%;
    height: 500px;
}

.redbox {
    background-image:linear-gradient(to right, #B2595D, #9E3E49);
    margin: 0 0 0 0;
    padding: 6rem 4rem;
    width: 60%;
    position: relative;
    z-index: 2;
}

.mobile-buttons-sec4 {
    text-align: left;
    width: 100%;
    margin: 3rem 0 0 0;
}

.button-outline3 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 0 0;
    padding: 1em 4rem;
    width: 240px;
    height: 48px;
    text-decoration: none;
    position: inline-block;
}

.container2 {
    align-content: center;
    display: block;
    margin: -1.75rem 48%;
  }

.greybar1 {
    width: 15vw;
    height: 5px;
    background-color: #ededef;
    margin: 1rem 0 13px 0;
    position: relative;
    z-index: 2;
  }

  .greybar2 {
    width: 18vw;
    height: 5px;
    background-color: #EDEDEF;
    margin: 5px 0 13px 0;
  }

  .greybar3 {
    width: 12vw;
    height: 5px;
    background-color: #EDEDEF;
    margin: 5px 0 13px 0;
  }

}
/*---------------------------------------------------------------------------------------------*/
/* SECTION 5----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


.section5 {
    width: 100%;
    background-color: white;
    display: block;
}

.section5b {
    width: 100%;
    position: relative;
    z-index: 1;
}

.section5-title {
    margin: 50px 0 0 0;
}

.tan-line {
    background-color: #C1B39E;
    height: 3px;
    width: 150px;
}

.greybox2 {
    background-color: #F7F7F8;

    margin: 40px 8%;
    padding: 16% 8%;
}

.titles-tan {
    color: #BCAD96;
}

.button-outline-tan-blog {
    background-color: transparent;
    color: #BCAD96;
    border: 2px solid #BCAD96;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2em 0 1em;
    padding: 1em 35%;
}

.blog-arrows {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -1em;
}

.left-arrow {
    display: inline-block;
    margin-right: -2em;
}

.right-arrow {
    display: inline-block;
    margin-left: -2em;

}

.container3 {
    align-content: center;
    display: block;
    margin: -2rem 8% -1rem;
    position: relative;
    z-index: 2;
  }

.greybar4 {
    width: 35vw;
    height: 3px;
    background-color: #EDEDEF;
    margin: 10px 0;
  }

  .greybar5 {
    width: 31vw;
    height: 3px;
    background-color: #EDEDEF;
    margin: 10px 0;
  }

  .greybar6 {
    width: 37vw;
    height: 3px;
    background-color: #EDEDEF;
    margin: 10px 0;
  }

  .greybar7 {
    width: 28vw;
    height: 3px;
    background-color: #EDEDEF;
    margin: 10px 0;
  }

/*---------------------------------------------------------------------------------------------*/
/* SECTION 5 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.section5 {
    width: 100%;
    background-color: white;
    display: block;
    padding-top: 6rem;
    border: 1px green solid;
}

.section5b {
    width: 55%;
    position: relative;
    z-index: 1;
    border: 1px solid green;
}

.blog-image-home-1 {
    background-image: url(./assets/img/pexels_photo_407237@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px orange solid;
    width: 100%;
    height: 300px;
    background-color: teal;
}

.section5-title {
    margin: 0 0 0 0;
}

.tan-line {
    background-color: #C1B39E;
    height: 3px;
    width: 200px;
    margin: 0 0 2rem 0;
}

.greybox2 {
    background-color: #F7F7F8;
    padding: 135px 8% 8% 12%;
    margin: -32rem 0 8% 50%;
    position: relative;
    z-index: 0;
    width: 50%;
    height: 650px;
}

.titles-tan {
    color: #BCAD96;
    margin-top: 3rem;
}

.mobile-buttons-sec5 {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    height: 46px;
    justify-content: right;
    margin: -160px 0 0;
}

.button-outline-tan-blog {
    background-color: transparent;
    color: #BCAD96;
    border: 2px solid #BCAD96;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    height: 48px;
    width: 240px;
    font-weight: 700;
    margin: 13rem auto 1rem 0;
    padding: 1em 0;
    text-align: center;
}

.container3 {
    align-content: center;
    display: block;
    margin: -3rem 8% -1rem;
    position: relative;
    z-index: 2;
  }

  .greybar4 {
    width: 20vw;
    height: 4px;
    background-color: #EDEDEF;
    margin: 1.5rem 0 12px;
  }

  .greybar5 {
    width: 18vw;
    height: 4px;
    background-color: #EDEDEF;
    margin: 12px 0;
  }

  .greybar6 {
    width: 23vw;
    height: 4px;
    background-color: #EDEDEF;
    margin: 12px 0;
  }

  .greybar7 {
    width: 15vw;
    height: 4px;
    background-color: #EDEDEF;
    margin: 12px 0 2rem;
  }

.blog-arrows {
    display: flex;
    width: 100%;
    align-items: left;
    margin: -12% 0 0 8%;
    justify-content: flex-start;
}

.left-arrow {
    display: inline-block;
    margin-right: 3em;
}

.right-arrow {
    display: inline-block;
    margin-left: 0;

}

}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 6----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


.section6 {


    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.section6a {
    width: 85%;
    background-color: white;
    display: block;
    margin-top: 4rem;
    align-self: center;
}

.white-box2 {
    background-color: white;
    padding: 40px 8% 8%;
    position: relative;
    z-index: 0;
}

.button-red {
    background-image: linear-gradient(to right, #B2595D, #9E3E49);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 100%;
    border: none;
}

.button-tan {
    background-image: linear-gradient(to right, #C1B39E, #BCAD96);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 100%;
    border: none;
}

.button-green2 {
    background-image: linear-gradient(to right, #ACD1BC, #95B8A4);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 100%;
    border: none;
}

.image-center-contact {
    width: 85%;
    margin-left: 8%
}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 6 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.section6 {


    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: left;
    margin-left: 7%;
    margin-top: 0;
}

.section6a {


    width: 90%;
    background-color: white;
    display: block;
    margin-top: 4rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-center-contact {
    width: 90%;
    margin: 0 auto 0 0
}

.white-box2 {
    background-color: white;
    padding: 40px 0 8%;
    position: relative;
    z-index: 0;
    width: 90%;
}

.button-red {
    background-image: linear-gradient(to right, #B2595D, #9E3E49);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 220px;
    border: none;
}

.button-tan {
    background-image: linear-gradient(to right, #C1B39E, #BCAD96);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 220px;
    border: none;
}

.button-green2 {
    background-image: linear-gradient(to right, #ACD1BC, #95B8A4);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    width: 220px;
    border: none;
}

}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 7----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


.section7 {

    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/milwaukee.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-gradient {

    padding: 8% 8%;
    margin: auto;
    text-align: center;
}

.half-globe {
    margin: 1.5rem auto;
}

.white-line {
    background-color: white;
    height: 3px;
    width: 150px;
    margin: 0 auto 8%;
}

.button-white {
    background-color: white;
    color: #345079;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 22%;
    border: none;
}

/*---------------------------------------------------------------------------------------------*/
/* SECTION 7 DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.section7 {

    height: 620px;
    width: 100%;
    background-image: linear-gradient(rgba(75, 104, 147, .90), rgba(52, 80, 121, .84)), url("./assets/img/milwaukee.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-gradient {
    padding: 8% 25%;
    margin: auto;
    text-align: center;
}

.half-globe {
    margin: 1.5rem auto;
}

.white-line {
    background-color: white;
    height: 3px;
    width: 50px;
    margin: 0 auto 4%;
}

.button-white {
    background-color: white;
    color: #345079;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0;
    padding: 1em 0;
    border: none;
    width: 180px;
}

.carousel-bars-footer {
    height: 6px;
    width: 100%;
    position: relative;
    z-index: 1;
}

}

/*---------------------------------------------------------------------------------------------*/
/* FOOTER ----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/



.footer-bg {
    background-color: #F7F7F8;
    width: 100%;

}

.footer {

    width: 100%;
    background-color: #F7F7F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: -187px auto 0;
}

.contact-info {
    background-color: white;
    padding: 40px 0;
    position: relative;
    z-index: 0;
}

.social-container {
    background-color: white;
    margin-top: -60px;
    padding-bottom: 60px;
}

.social-icons {
    margin-top: 4em;
}

.grey-footer {
    background-color: #F7F7F8;
}

.footer-logo {
    margin: 3em 0;
}

.footer-nav-links {
    display: none;
}

.titles-black-footer {
    color: #444444;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

/*---------------------------------------------------------------------------------------------*/
/* FOOTER DESKTOP----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {

.footer-bg {
    background-color: #F7F7F8;
    width: 100%;
    height: 225px;
}

.footer {

    width: 90%;
    background-color: #F7F7F8;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.contact-info {
    background-color: #F7F7F8;
    padding: 40px 0;
    position: relative;
    z-index: 0;
}

.social-container {
    background-color: #F7F7F8;
    margin-left:-5%;
    margin-top: 0;
}

.social-icons {
    margin-top: 4em;
}

.grey-footer {
    background-color: #F7F7F8;
}

.footer-logo {
    margin: 3em 0;
}

.titles-black-footer {
    color: #444444;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

.footer-nav-links {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    justify-content: space-between;
    width: 40%;
}

.footer-nav-link {
    text-decoration: none;
    color: #444444;
    font-size: 13px;
    font-family: gotham;
    font-weight: 600;
    line-height: 1em;
    margin: 2em auto 1em;
    padding: 1em 0;
}

}